# Task 2

In [78]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [79]:
# Load data
data = pd.read_csv('QVI_data.csv')
data

,LYLTY_CARD_NBR,DATE,STORE_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,PACK_SIZE,BRAND,LIFESTAGE,PREMIUM_CUSTOMER
0,1000,2018-10-17,1,1,5,Natural Chip Compny SeaSalt175g,2,6.0,175,NATURAL,YOUNG SINGLES/COUPLES,Premium
1,1002,2018-09-16,1,2,58,Red Rock Deli Chikn&Garlic Aioli 150g,1,2.7,150,RRD,YOUNG SINGLES/COUPLES,Mainstream
2,1003,2019-03-07,1,3,52,Grain Waves Sour Cream&Chives 210G,1,3.6,210,GRNWVES,YOUNG FAMILIES,Budget
3,1003,2019-03-08,1,4,106,Natural ChipCo Hony Soy Chckn175g,1,3.0,175,NATURAL,YOUNG FAMILIES,Budget
4,1004,2018-11-02,1,5,96,WW Original Stacked Chips 160g,1,1.9,160,WOOLWORTHS,OLDER SINGLES/COUPLES,Mainstream
...,...,...,...,...,...,...,...,...,...,...,...,...
264829,2370701,2018-12-08,88,240378,24,Grain Waves Sweet Chilli 210g,2,7.2,210,GRNWVES,YOUNG FAMILIES,Mainstream
264830,2370751,2018-10-01,88,240394,60,Kettle Tortilla ChpsFeta&Garlic 150g,2,9.2,150,KETTLE,YOUNG FAMILIES,Premium
264831,2370961,2018-10-24,88,240480,70,Tyrrells Crisps Lightly Salted 165g,2,8.4,165,TYRRELLS,OLDER FAMILIES,Budget
264832,2370961,2018-10-27,88,240481,65,Old El Paso Salsa Dip Chnky Tom Ht300g,2,10.2,300,OLD,OLDER FAMILIES,Budget
264833,2373711,2018-12-14,88,241815,16,Smiths Crinkle Chips Salt & Vinegar 330g,2,11.4,330,SMITHS,YOUNG SINGLES/COUPLES,Mainstream

In [80]:
# Check for null values
data.isna().value_counts()

LYLTY_CARD_NBR  DATE   STORE_NBR  TXN_ID  PROD_NBR  PROD_NAME  PROD_QTY  TOT_SALES  PACK_SIZE  BRAND  LIFESTAGE  PREMIUM_CUSTOMER
False           False  False      False   False     False      False     False      False      False  False      False               264834
Name: count, dtype: int64

In [81]:
# Confirm dtypes
data.dtypes

LYLTY_CARD_NBR        int64
DATE                 object
STORE_NBR             int64
TXN_ID                int64
PROD_NBR              int64
PROD_NAME            object
PROD_QTY              int64
TOT_SALES           float64
PACK_SIZE             int64
BRAND                object
LIFESTAGE            object
PREMIUM_CUSTOMER     object
dtype: object

# Select control stores

We will start by defining a few metrics by which we will select stores. As the trial stores need to be similar to the trial stores, we will match based on these metrics. In order to do this we will need to transform the data first.

- Create a month column in the format of yyyymm

In [82]:
# Convert date column to datetime
data['DATE'] = pd.to_datetime(data['DATE'])

# Add month column in the format of yyyymm
data['MONTH'] = data['DATE'].dt.strftime('%Y%m').astype(int)
data.sort_values(['STORE_NBR', 'DATE'])

,LYLTY_CARD_NBR,DATE,STORE_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,PACK_SIZE,BRAND,LIFESTAGE,PREMIUM_CUSTOMER,MONTH
253,1233,2018-07-01,1,266,110,WW Original Corn Chips 200g,1,1.9,200,WOOLWORTHS,YOUNG FAMILIES,Mainstream,201807
547,1482,2018-07-01,1,563,8,Smiths Crinkle Cut Chips Original 170g,1,2.9,170,SMITHS,YOUNG SINGLES/COUPLES,Mainstream,201807
104,1096,2018-07-02,1,110,68,Pringles Chicken Salt Crips 134g,1,3.7,134,PRINGLES,OLDER SINGLES/COUPLES,Premium,201807
430,1384,2018-07-02,1,445,106,Natural ChipCo Hony Soy Chckn175g,1,3.0,175,NATURAL,YOUNG SINGLES/COUPLES,Budget,201807
466,1414,2018-07-02,1,482,42,Doritos Corn Chip Mexican Jalapeno 150g,1,3.9,150,DORITOS,RETIREES,Mainstream,201807
...,...,...,...,...,...,...,...,...,...,...,...,...,...
264570,272242,2019-06-25,272,269986,81,Pringles Original Crisps 134g,2,7.4,134,PRINGLES,RETIREES,Mainstream,201906
264234,272005,2019-06-26,272,269641,89,Kettle Sweet Chilli And Sour Cream 175g,2,10.8,175,KETTLE,YOUNG FAMILIES,Budget,201906
264300,272055,2019-06-28,272,269709,50,Tostitos Lightly Salted 175g,2,8.8,175,TOSTITOS,RETIREES,Budget,201906
264326,272074,2019-06-30,272,269737,60,Kettle Tortilla ChpsFeta&Garlic 150g,2,9.2,150,KETTLE,OLDER SINGLES/COUPLES,Budget,201906
264358,272096,2019-06-30,272,269769,49,Infuzions SourCream&Herbs Veg Strws 110g,2,7.6,110,INFUZIONS,YOUNG FAMILIES,Mainstream,201906

- Aggregate the data into the monthly amounts of each column split by Store number

In [83]:
def metric_calc():
    measure = data.groupby(['STORE_NBR', 'MONTH'])
    totSales = measure['TOT_SALES'].sum()
    nCustomers = measure['LYLTY_CARD_NBR'].nunique()
    nTxnPerCust = measure['TXN_ID'].count() / nCustomers
    nChipsPerTxn = measure['PROD_QTY'].sum() / measure['TXN_ID'].count()
    avgPricePerUnit = totSales / measure['PROD_QTY'].sum()
    aggregate = [totSales, nCustomers, nTxnPerCust, nChipsPerTxn, avgPricePerUnit]
    metrics = pd.concat(aggregate, axis=1)
    metrics.columns = ['totSales', 'nCustomers', 'nTxnPerCust', 'nChipsPerTxn', 'avgPricePerUnit']
    return metrics

In [84]:
# Create metrics dataframe
measureOverTime = metric_calc().reset_index()

# Sort by month
measureOverTime = measureOverTime.sort_values(['STORE_NBR','MONTH'])

measureOverTime

,STORE_NBR,MONTH,totSales,nCustomers,nTxnPerCust,nChipsPerTxn,avgPricePerUnit
0,1,201807,206.9,49,1.061224,1.192308,3.337097
1,1,201808,176.1,42,1.023810,1.255814,3.261111
2,1,201809,278.8,59,1.050847,1.209677,3.717333
3,1,201810,188.1,44,1.022727,1.288889,3.243103
4,1,201811,192.6,46,1.021739,1.212766,3.378947
...,...,...,...,...,...,...,...
3164,272,201902,395.5,45,1.066667,1.895833,4.346154
3165,272,201903,442.3,50,1.060000,1.905660,4.379208
3166,272,201904,445.1,54,1.037037,1.875000,4.239048
3167,272,201905,314.6,34,1.176471,1.775000,4.430986
3168,272,201906,312.1,34,1.088235,1.891892,4.458571

- Now we can filter the data between the pre-trial data and the full observation period stores

In [85]:
# Full observation data 

# Find stores that were observed for the full period
observe_counts = measureOverTime['STORE_NBR'].value_counts()
observe_index = observe_counts[observe_counts == 12].index

# Filter into new dataframe with only the stores found
storesWithFullObs = measureOverTime[measureOverTime['STORE_NBR'].isin(observe_index)]
storesWithFullObs.head()

,STORE_NBR,MONTH,totSales,nCustomers,nTxnPerCust,nChipsPerTxn,avgPricePerUnit
0,1,201807,206.9,49,1.061224,1.192308,3.337097
1,1,201808,176.1,42,1.023810,1.255814,3.261111
2,1,201809,278.8,59,1.050847,1.209677,3.717333
3,1,201810,188.1,44,1.022727,1.288889,3.243103
4,1,201811,192.6,46,1.021739,1.212766,3.378947

In [86]:
# Pre-trial data

# Filter all stores in the full observation to only have the data before the trial period
preTrialMeasures = storesWithFullObs[storesWithFullObs['MONTH'] < 201902]
preTrialMeasures.head()

,STORE_NBR,MONTH,totSales,nCustomers,nTxnPerCust,nChipsPerTxn,avgPricePerUnit
0,1,201807,206.9,49,1.061224,1.192308,3.337097
1,1,201808,176.1,42,1.023810,1.255814,3.261111
2,1,201809,278.8,59,1.050847,1.209677,3.717333
3,1,201810,188.1,44,1.022727,1.288889,3.243103
4,1,201811,192.6,46,1.021739,1.212766,3.378947

Now that our data is filtered we can rank the similarity between control and trial stores

- Calculate correlation between each of the trial stores and control stores

In [87]:
# Correlation calculation
def calculateCorrelation(metricCol, storeComparison, inputTable = preTrialMeasures):
    # Create table of the trial stores
    controlStores = inputTable[~inputTable['STORE_NBR'].isin([77, 86, 88])]['STORE_NBR'].unique()
    corr = pd.DataFrame()
    trialStore = inputTable[inputTable['STORE_NBR'] == storeComparison][metricCol].reset_index()
    for control in controlStores:
        storage_df = pd.DataFrame(columns= ['TRIAL_STORE', 'CONTROL_STORE', 'CORRELATION_SCORE'])
        control_store = inputTable[inputTable['STORE_NBR'] == control][metricCol].reset_index()
        storage_df['CORRELATION_SCORE'] = trialStore.corrwith(control_store, axis=1)
        storage_df['TRIAL_STORE'] = storeComparison
        storage_df['CONTROL_STORE'] = control
        corr = pd.concat([corr, storage_df])
    corr = corr.groupby(['CONTROL_STORE']).mean().reset_index()
    return corr

- We can also calculate a standardised metric based on the absolute difference between the trial store's performance and each control store's performance

In [88]:
def calculateMagnitudeDistance(metricCol, storeComparison, inputTable = preTrialMeasures):
    controlStores = inputTable[~inputTable['STORE_NBR'].isin([77, 86, 88])]['STORE_NBR'].unique()
    calcDistTable = pd.DataFrame()
    
    for control in controlStores:
        calculatedMeasure = pd.DataFrame(columns= ['MONTH', 'TRIAL_STORE', 'CONTROL_STORE', 'MEASURE'])
        calculatedMeasure['MONTH'] = list(inputTable[inputTable['STORE_NBR'] == storeComparison]['MONTH'])
        calculatedMeasure['TRIAL_STORE'] = storeComparison
        calculatedMeasure['CONTROL_STORE'] = control
        calculatedMeasure['MEASURE'] = abs(inputTable[inputTable['STORE_NBR'] == storeComparison].reset_index()[metricCol] - inputTable[inputTable['STORE_NBR'] == control].reset_index()[metricCol]) 
        calcDistTable = pd.concat([calcDistTable, calculatedMeasure])
    return calcDistTable

In [89]:
debug = calculateMagnitudeDistance('totSales', 77)
debug[debug['MEASURE']==1330.4]

    MONTH  TRIAL_STORE  CONTROL_STORE  MEASURE
0  201807           77             58   1330.4

- Now convert the measure column into an absolute value between 0 and 1 for the entire pre-trial period

In [99]:
# Standardize the magnitude distance
def minMaxDist(calcDistTable):
    # Calculate min and max distances by grouping by 'TRIAL_STORE' and 'MONTH'
    min_max_dist = calcDistTable.groupby(['TRIAL_STORE', 'MONTH'])['MEASURE'].agg(['min', 'max']).reset_index()
    min_max_dist.columns = ['TRIAL_STORE', 'MONTH', 'minDist', 'maxDist']

    # Merge the calculated min and max distances with the original calcDistTable
    distTable = pd.merge(calcDistTable, min_max_dist, on=['TRIAL_STORE', 'MONTH'])

    # Calculate the magnitude MEASURE
    distTable['mag_measure'] = 1 - (distTable['MEASURE'] - distTable['minDist']) / (distTable['maxDist'] - distTable['minDist'])
    finalDistTable = distTable.groupby(['CONTROL_STORE', 'TRIAL_STORE'])['mag_measure'].mean().reset_index()
    return finalDistTable

Now we can put the funtions to use calculating the metrics in specificity

- Start with total sales and number of customers against store 77

In [102]:
corr_nSales = calculateCorrelation('totSales', 77)
corr_nSales

     CONTROL_STORE  TRIAL_STORE  CORRELATION_SCORE
0                1         77.0               -1.0
1                2         77.0               -1.0
2                3         77.0               -1.0
3                4         77.0               -1.0
4                5         77.0               -1.0
..             ...          ...                ...
252            268         77.0                1.0
253            269         77.0                1.0
254            270         77.0                1.0
255            271         77.0                1.0
256            272         77.0                1.0

[257 rows x 3 columns]

In [103]:
corr_nCustomers = calculateCorrelation('nCustomers', 77)
corr_nCustomers

     CONTROL_STORE  TRIAL_STORE  CORRELATION_SCORE
0                1         77.0               -1.0
1                2         77.0               -1.0
2                3         77.0               -1.0
3                4         77.0               -1.0
4                5         77.0               -1.0
..             ...          ...                ...
252            268         77.0                1.0
253            269         77.0                1.0
254            270         77.0                1.0
255            271         77.0                1.0
256            272         77.0                1.0

[257 rows x 3 columns]

- And now the magnitude for these same options

In [104]:
magnitude_nSales = minMaxDist(calculateMagnitudeDistance('totSales', 77))
magnitude_nSales

     CONTROL_STORE  TRIAL_STORE  mag_measure
0                1           77     0.955061
1                2           77     0.939318
2                3           77     0.354963
3                4           77     0.177414
4                5           77     0.554066
..             ...          ...          ...
252            268           77     0.962563
253            269           77     0.452903
254            270           77     0.446991
255            271           77     0.553304
256            272           77     0.886697

[257 rows x 3 columns]

In [105]:
magnitude_nCustomers = minMaxDist(calculateMagnitudeDistance('nCustomers', 77))
magnitude_nCustomers

     CONTROL_STORE  TRIAL_STORE  mag_measure
0                1           77     0.940321
1                2           77     0.924638
2                3           77     0.345067
3                4           77     0.189579
4                5           77     0.481199
..             ...          ...          ...
252            268           77     0.939907
253            269           77     0.343547
254            270           77     0.357725
255            271           77     0.483457
256            272           77     0.948207

[257 rows x 3 columns]

- We shall now create a function to merge the magnitude and correlation tables

In [106]:
def merge_calcs(metricCol, storeComparison):
    corr = calculateCorrelation(metricCol, storeComparison)
    magnitude = minMaxDist(calculateMagnitudeDistance(metricCol, storeComparison))
    combine = corr.merge(magnitude, on=['TRIAL_STORE', 'CONTROL_STORE'])
    combine['Merged_Score'] = 0.5 * combine['CORRELATION_SCORE'] + 0.5 * combine['mag_measure']
    return combine

- Now test the function by merging sales and customer scores

In [120]:
scoreNSales = merge_calcs(['totSales'], 77)
scoreNSales

     CONTROL_STORE  TRIAL_STORE  CORRELATION_SCORE  mag_measure  Merged_Score
0                1         77.0               -1.0     0.955061     -0.022469
1                2         77.0               -1.0     0.939318     -0.030341
2                3         77.0               -1.0     0.354963     -0.322518
3                4         77.0               -1.0     0.177414     -0.411293
4                5         77.0               -1.0     0.554066     -0.222967
..             ...          ...                ...          ...           ...
252            268         77.0                1.0     0.962563      0.981282
253            269         77.0                1.0     0.452903      0.726451
254            270         77.0                1.0     0.446991      0.723495
255            271         77.0                1.0     0.553304      0.776652
256            272         77.0                1.0     0.886697      0.943349

[257 rows x 5 columns]

In [121]:
scoreNCustomers = merge_calcs('nCustomers', 77)
scoreNCustomers

     CONTROL_STORE  TRIAL_STORE  CORRELATION_SCORE  mag_measure  Merged_Score
0                1         77.0               -1.0     0.940321     -0.029840
1                2         77.0               -1.0     0.924638     -0.037681
2                3         77.0               -1.0     0.345067     -0.327467
3                4         77.0               -1.0     0.189579     -0.405211
4                5         77.0               -1.0     0.481199     -0.259401
..             ...          ...                ...          ...           ...
252            268         77.0                1.0     0.939907      0.969953
253            269         77.0                1.0     0.343547      0.671773
254            270         77.0                1.0     0.357725      0.678862
255            271         77.0                1.0     0.483457      0.741729
256            272         77.0                1.0     0.948207      0.974104

[257 rows x 5 columns]

With the functions working to calculated based on an individual driver, and the tables already generated for Sales and customer, we can move onto the next step.

- Combine the generated scores together to create a new average score table

In [126]:
scoreControl = scoreNSales.merge(scoreNCustomers, on= ['TRIAL_STORE', 'CONTROL_STORE'])
scoreControl['Final_Score'] = 0.5 * scoreControl['Merged_Score_x'] + 0.5 * scoreControl['Merged_Score_y']
scoreControl

,CONTROL_STORE,TRIAL_STORE,CORRELATION_SCORE_x,mag_measure_x,Merged_Score_x,CORRELATION_SCORE_y,mag_measure_y,Merged_Score_y,Final_Score
0,1,77.0,-1.0,0.955061,-0.022469,-1.0,0.940321,-0.029840,-0.026155
1,2,77.0,-1.0,0.939318,-0.030341,-1.0,0.924638,-0.037681,-0.034011
2,3,77.0,-1.0,0.354963,-0.322518,-1.0,0.345067,-0.327467,-0.324993
3,4,77.0,-1.0,0.177414,-0.411293,-1.0,0.189579,-0.405211,-0.408252
4,5,77.0,-1.0,0.554066,-0.222967,-1.0,0.481199,-0.259401,-0.241184
...,...,...,...,...,...,...,...,...,...
252,268,77.0,1.0,0.962563,0.981282,1.0,0.939907,0.969953,0.975618
253,269,77.0,1.0,0.452903,0.726451,1.0,0.343547,0.671773,0.699112
254,270,77.0,1.0,0.446991,0.723495,1.0,0.357725,0.678862,0.701179
255,271,77.0,1.0,0.553304,0.776652,1.0,0.483457,0.741729,0.759190
256,272,77.0,1.0,0.886697,0.943349,1.0,0.948207,0.974104,0.958726

We can sort the dataframe by the final score column to find the highest matching store

In [128]:
scoreControl.sort_values('Final_Score', ascending=False)

,CONTROL_STORE,TRIAL_STORE,CORRELATION_SCORE_x,mag_measure_x,Merged_Score_x,CORRELATION_SCORE_y,mag_measure_y,Merged_Score_y,Final_Score
218,233,77.0,1.0,0.987091,0.993545,1.0,0.992773,0.996387,0.994966
38,41,77.0,1.0,0.966917,0.983459,1.0,0.974639,0.987320,0.985389
42,46,77.0,1.0,0.976565,0.988283,1.0,0.960757,0.980378,0.984330
49,53,77.0,1.0,0.977210,0.988605,1.0,0.957763,0.978882,0.983743
101,111,77.0,1.0,0.967254,0.983627,1.0,0.966064,0.983032,0.983330
...,...,...,...,...,...,...,...,...,...
1,2,77.0,-1.0,0.939318,-0.030341,-1.0,0.924638,-0.037681,-0.034011
4,5,77.0,-1.0,0.554066,-0.222967,-1.0,0.481199,-0.259401,-0.241184
6,7,77.0,-1.0,0.375090,-0.312455,-1.0,0.356247,-0.321876,-0.317166
2,3,77.0,-1.0,0.354963,-0.322518,-1.0,0.345067,-0.327467,-0.324993
3,4,77.0,-1.0,0.177414,-0.411293,-1.0,0.189579,-0.405211,-0.408252