# Task 2

In [252]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [253]:
# Load data
data = pd.read_csv('QVI_data.csv')
data

,LYLTY_CARD_NBR,DATE,STORE_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,PACK_SIZE,BRAND,LIFESTAGE,PREMIUM_CUSTOMER
0,1000,2018-10-17,1,1,5,Natural Chip Compny SeaSalt175g,2,6.0,175,NATURAL,YOUNG SINGLES/COUPLES,Premium
1,1002,2018-09-16,1,2,58,Red Rock Deli Chikn&Garlic Aioli 150g,1,2.7,150,RRD,YOUNG SINGLES/COUPLES,Mainstream
2,1003,2019-03-07,1,3,52,Grain Waves Sour Cream&Chives 210G,1,3.6,210,GRNWVES,YOUNG FAMILIES,Budget
3,1003,2019-03-08,1,4,106,Natural ChipCo Hony Soy Chckn175g,1,3.0,175,NATURAL,YOUNG FAMILIES,Budget
4,1004,2018-11-02,1,5,96,WW Original Stacked Chips 160g,1,1.9,160,WOOLWORTHS,OLDER SINGLES/COUPLES,Mainstream
...,...,...,...,...,...,...,...,...,...,...,...,...
264829,2370701,2018-12-08,88,240378,24,Grain Waves Sweet Chilli 210g,2,7.2,210,GRNWVES,YOUNG FAMILIES,Mainstream
264830,2370751,2018-10-01,88,240394,60,Kettle Tortilla ChpsFeta&Garlic 150g,2,9.2,150,KETTLE,YOUNG FAMILIES,Premium
264831,2370961,2018-10-24,88,240480,70,Tyrrells Crisps Lightly Salted 165g,2,8.4,165,TYRRELLS,OLDER FAMILIES,Budget
264832,2370961,2018-10-27,88,240481,65,Old El Paso Salsa Dip Chnky Tom Ht300g,2,10.2,300,OLD,OLDER FAMILIES,Budget
264833,2373711,2018-12-14,88,241815,16,Smiths Crinkle Chips Salt & Vinegar 330g,2,11.4,330,SMITHS,YOUNG SINGLES/COUPLES,Mainstream

In [254]:
# Check for null values
data.isna().value_counts()

LYLTY_CARD_NBR  DATE   STORE_NBR  TXN_ID  PROD_NBR  PROD_NAME  PROD_QTY  TOT_SALES  PACK_SIZE  BRAND  LIFESTAGE  PREMIUM_CUSTOMER
False           False  False      False   False     False      False     False      False      False  False      False               264834
Name: count, dtype: int64

In [255]:
# Confirm dtypes
data.dtypes

LYLTY_CARD_NBR        int64
DATE                 object
STORE_NBR             int64
TXN_ID                int64
PROD_NBR              int64
PROD_NAME            object
PROD_QTY              int64
TOT_SALES           float64
PACK_SIZE             int64
BRAND                object
LIFESTAGE            object
PREMIUM_CUSTOMER     object
dtype: object

# Select control stores

We will start by defining a few metrics by which we will select stores. As the trial stores need to be similar to the trial stores, we will match based on these metrics. In order to do this we will need to transform the data first.

- Create a month column in the format of yyyymm

In [256]:
# Convert date column to datetime
data['DATE'] = pd.to_datetime(data['DATE'])

# Add month column in the format of yyyymm
data['MONTH'] = data['DATE'].dt.strftime('%Y%m').astype(int)
data.sort_values(['STORE_NBR', 'DATE'])

,LYLTY_CARD_NBR,DATE,STORE_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,PACK_SIZE,BRAND,LIFESTAGE,PREMIUM_CUSTOMER,MONTH
253,1233,2018-07-01,1,266,110,WW Original Corn Chips 200g,1,1.9,200,WOOLWORTHS,YOUNG FAMILIES,Mainstream,201807
547,1482,2018-07-01,1,563,8,Smiths Crinkle Cut Chips Original 170g,1,2.9,170,SMITHS,YOUNG SINGLES/COUPLES,Mainstream,201807
104,1096,2018-07-02,1,110,68,Pringles Chicken Salt Crips 134g,1,3.7,134,PRINGLES,OLDER SINGLES/COUPLES,Premium,201807
430,1384,2018-07-02,1,445,106,Natural ChipCo Hony Soy Chckn175g,1,3.0,175,NATURAL,YOUNG SINGLES/COUPLES,Budget,201807
466,1414,2018-07-02,1,482,42,Doritos Corn Chip Mexican Jalapeno 150g,1,3.9,150,DORITOS,RETIREES,Mainstream,201807
...,...,...,...,...,...,...,...,...,...,...,...,...,...
264570,272242,2019-06-25,272,269986,81,Pringles Original Crisps 134g,2,7.4,134,PRINGLES,RETIREES,Mainstream,201906
264234,272005,2019-06-26,272,269641,89,Kettle Sweet Chilli And Sour Cream 175g,2,10.8,175,KETTLE,YOUNG FAMILIES,Budget,201906
264300,272055,2019-06-28,272,269709,50,Tostitos Lightly Salted 175g,2,8.8,175,TOSTITOS,RETIREES,Budget,201906
264326,272074,2019-06-30,272,269737,60,Kettle Tortilla ChpsFeta&Garlic 150g,2,9.2,150,KETTLE,OLDER SINGLES/COUPLES,Budget,201906
264358,272096,2019-06-30,272,269769,49,Infuzions SourCream&Herbs Veg Strws 110g,2,7.6,110,INFUZIONS,YOUNG FAMILIES,Mainstream,201906

- Aggregate the data into the monthly amounts of each column split by Store number

In [257]:
def metric_calc():
    measure = data.groupby(['STORE_NBR', 'MONTH'])
    totSales = measure['TOT_SALES'].sum()
    nCustomers = measure['LYLTY_CARD_NBR'].nunique()
    nTxnPerCust = measure['TXN_ID'].count() / nCustomers
    nChipsPerTxn = measure['PROD_QTY'].sum() / measure['TXN_ID'].count()
    avgPricePerUnit = totSales / measure['PROD_QTY'].sum()
    aggregate = [totSales, nCustomers, nTxnPerCust, nChipsPerTxn, avgPricePerUnit]
    metrics = pd.concat(aggregate, axis=1)
    metrics.columns = ['totSales', 'nCustomers', 'nTxnPerCust', 'nChipsPerTxn', 'avgPricePerUnit']
    return metrics

In [258]:
# Create metrics dataframe
measureOverTime = metric_calc().reset_index()

# Sort by month
measureOverTime = measureOverTime.sort_values(['STORE_NBR','MONTH'])

measureOverTime

,STORE_NBR,MONTH,totSales,nCustomers,nTxnPerCust,nChipsPerTxn,avgPricePerUnit
0,1,201807,206.9,49,1.061224,1.192308,3.337097
1,1,201808,176.1,42,1.023810,1.255814,3.261111
2,1,201809,278.8,59,1.050847,1.209677,3.717333
3,1,201810,188.1,44,1.022727,1.288889,3.243103
4,1,201811,192.6,46,1.021739,1.212766,3.378947
...,...,...,...,...,...,...,...
3164,272,201902,395.5,45,1.066667,1.895833,4.346154
3165,272,201903,442.3,50,1.060000,1.905660,4.379208
3166,272,201904,445.1,54,1.037037,1.875000,4.239048
3167,272,201905,314.6,34,1.176471,1.775000,4.430986
3168,272,201906,312.1,34,1.088235,1.891892,4.458571

In [259]:
measureOverTime.dtypes

STORE_NBR            int64
MONTH                int64
totSales           float64
nCustomers           int64
nTxnPerCust        float64
nChipsPerTxn       float64
avgPricePerUnit    float64
dtype: object

- Now we can filter the data between the pre-trial data and the full observation period stores

In [260]:
# Full observation data 

# Find stores that were observed for the full period
observe_counts = measureOverTime['STORE_NBR'].value_counts()
observe_index = observe_counts[observe_counts == 12].index

# Filter into new dataframe with only the stores found
storesWithFullObs = measureOverTime[measureOverTime['STORE_NBR'].isin(observe_index)]
storesWithFullObs.head()

,STORE_NBR,MONTH,totSales,nCustomers,nTxnPerCust,nChipsPerTxn,avgPricePerUnit
0,1,201807,206.9,49,1.061224,1.192308,3.337097
1,1,201808,176.1,42,1.023810,1.255814,3.261111
2,1,201809,278.8,59,1.050847,1.209677,3.717333
3,1,201810,188.1,44,1.022727,1.288889,3.243103
4,1,201811,192.6,46,1.021739,1.212766,3.378947

In [261]:
storesWithFullObs.dtypes

STORE_NBR            int64
MONTH                int64
totSales           float64
nCustomers           int64
nTxnPerCust        float64
nChipsPerTxn       float64
avgPricePerUnit    float64
dtype: object

In [262]:
# Pre-trial data

# Filter all stores in the full observation to only have the data before the trial period
preTrialMeasures = storesWithFullObs[storesWithFullObs['MONTH'] < 201902]
preTrialMeasures.head()

,STORE_NBR,MONTH,totSales,nCustomers,nTxnPerCust,nChipsPerTxn,avgPricePerUnit
0,1,201807,206.9,49,1.061224,1.192308,3.337097
1,1,201808,176.1,42,1.023810,1.255814,3.261111
2,1,201809,278.8,59,1.050847,1.209677,3.717333
3,1,201810,188.1,44,1.022727,1.288889,3.243103
4,1,201811,192.6,46,1.021739,1.212766,3.378947

In [263]:
preTrialMeasures.dtypes

STORE_NBR            int64
MONTH                int64
totSales           float64
nCustomers           int64
nTxnPerCust        float64
nChipsPerTxn       float64
avgPricePerUnit    float64
dtype: object

Now that our data is filtered we can rank the similarity between control and trial stores

- Calculate correlation between each of the trial stores and control stores

In [264]:
# Correlation calculation
def calculateCorrelation(metricCol, storeComparison, inputTable = preTrialMeasures):
    # Create table of the trial stores
    controlStores = inputTable[~inputTable['STORE_NBR'].isin([77, 86, 88])]['STORE_NBR'].unique()
    corr = pd.DataFrame(columns= ['MONTH', 'TRIAL_STORE', 'CONTROL_STORE', 'CORRELATION_SCORE'])
    trialStore = inputTable[inputTable['STORE_NBR'] == storeComparison][metricCol].reset_index()
    for control in controlStores:
        storage_df = pd.DataFrame(columns= ['MONTH', 'TRIAL_STORE', 'CONTROL_STORE', 'CORRELATION_SCORE'])
        control_store = inputTable[inputTable['STORE_NBR'] == control][metricCol].reset_index()
        storage_df['CORRELATION_SCORE'] = trialStore.corrwith(control_store, axis=1)
        storage_df['MONTH'] = list(inputTable[inputTable['STORE_NBR'] == storeComparison]['MONTH'])
        storage_df['TRIAL_STORE'] = storeComparison
        storage_df['CONTROL_STORE'] = control
        corr = pd.concat([corr, storage_df])
    return corr

    We will also test the function using all of the metrics

In [265]:
# Create correlation table
corr_table = pd.DataFrame(columns= ['MONTH', 'TRIAL_STORE', 'CONTROL_STORE', 'CORRELATION_SCORE'], dtype=int)
for trial_num in [77, 86, 88]:
    corr_table = pd.concat([corr_table, calculateCorrelation(['totSales', 'nCustomers', 'nTxnPerCust', 'nChipsPerTxn', 'avgPricePerUnit'], trial_num)])

corr_table.head(8)

/tmp/ipykernel_2124/1241476075.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  corr = pd.concat([corr, storage_df])

/tmp/ipykernel_2124/1241476075.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  corr = pd.concat([corr, storage_df])
/tmp/ipykernel_2124/1241476075.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  corr = pd.concat([corr, storage_df])

    MONTH TRIAL_STORE CONTROL_STORE  CORRELATION_SCORE
0  201807          77             1           0.070544
1  201808          77             1           0.027332
2  201809          77             1           0.002472
3  201810          77             1          -0.019991
4  201811          77             1           0.030094
5  201812          77             1           0.064179
6  201901          77             1           0.001586
0  201807          77             2           0.143089

In [266]:
corr_table.dtypes

MONTH                 object
TRIAL_STORE           object
CONTROL_STORE         object
CORRELATION_SCORE    float64
dtype: object

- We can also calculate a standardised metric based on the absolute difference between the trial store's performance and each control store's performance

In [322]:
# Calculate magnitude distance
def calculateMagnitudeDistance (metricCol, storeComparison, inputTable = preTrialMeasures):
    controlStores = inputTable[~inputTable['STORE_NBR'].isin([77, 86, 88])]['STORE_NBR'].unique()
    calcDistTable = pd.DataFrame(columns= ['MONTH', 'TRIAL_STORE', 'CONTROL_STORE', 'MEASURE'])
    
    for control in controlStores:
        calculatedMeasure = pd.DataFrame(columns= ['MONTH', 'TRIAL_STORE', 'CONTROL_STORE', 'MEASURE'])
        calculatedMeasure['MONTH'] = list(inputTable[inputTable['STORE_NBR'] == storeComparison]['MONTH'])
        calculatedMeasure['TRIAL_STORE'] = storeComparison
        calculatedMeasure['CONTROL_STORE'] = control
        calculatedMeasure['MEASURE']  = abs(inputTable[inputTable['STORE_NBR'] == storeComparison][metricCol] - inputTable[inputTable['STORE_NBR'] == control].reset_index()[metricCol])
        calcDistTable = pd.concat([calcDistTable, calculatedMeasure])
    return calcDistTable

- Let's now test the function above

In [323]:
# Create magnitude distance table
calcDistTable = pd.DataFrame(columns= ['MONTH', 'TRIAL_STORE', 'CONTROL_STORE', 'MEASURE'])
for trial_num in [77, 86, 88]:
    calcDistTable = pd.concat([calcDistTable, calculateMagnitudeDistance(['totSales', 'nCustomers', 'nTxnPerCust', 'nChipsPerTxn', 'avgPricePerUnit'], trial_num)])

calcDistTable

ValueError: Columns must be same length as key

In [269]:
calcDistTable.dtypes

MONTH            object
TRIAL_STORE      object
CONTROL_STORE    object
MEASURE          object
dtype: object

- Now convert the measure column into an absolute value between 0 and 1 for the entire pre-trial period

In [305]:
# Standardize the magnitude distance
def minMaxDist(calcDistTable):
    # Calculate min and max distances by grouping by 'TRIAL_STORE' and 'MONTH'
    min_max_dist = calcDistTable.groupby(['TRIAL_STORE', 'MONTH'])['MEASURE'].agg(['min', 'max']).reset_index()
    min_max_dist.columns = ['TRIAL_STORE', 'MONTH', 'minDist', 'maxDist']

    # Merge the calculated min and max distances with the original calcDistTable
    distTable = pd.merge(calcDistTable, min_max_dist, on=['TRIAL_STORE', 'MONTH'])

    # Calculate the magnitude MEASURE
    distTable['mag_measure'] = 1 - (distTable['MEASURE'] - distTable['minDist']) / (distTable['maxDist'] - distTable['minDist'])
    distTable = distTable.drop(columns=['maxDist', 'minDist', 'MEASURE'])
    distTable = distTable.sort_values(['TRIAL_STORE', 'CONTROL_STORE', 'MONTH'])
    return distTable

Now we can put the funtions to use calculating the metrics in specificity

- Start with total sales and number of customers against store 77

In [295]:
corr_nSales = calculateCorrelation('totSales', 77)
corr_nSales

/tmp/ipykernel_2124/1241476075.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  corr = pd.concat([corr, storage_df])

     MONTH TRIAL_STORE CONTROL_STORE  CORRELATION_SCORE
0   201807          77             1               -1.0
1   201808          77             1               -1.0
2   201809          77             1               -1.0
3   201810          77             1               -1.0
4   201811          77             1               -1.0
..     ...         ...           ...                ...
2   201809          77           272                1.0
3   201810          77           272                1.0
4   201811          77           272                1.0
5   201812          77           272                1.0
6   201901          77           272                1.0

[1799 rows x 4 columns]

In [296]:
corr_nSales.dtypes

MONTH                 object
TRIAL_STORE           object
CONTROL_STORE         object
CORRELATION_SCORE    float64
dtype: object

In [297]:
corr_nCustomers = calculateCorrelation('nCustomers', 77)
corr_nCustomers

/tmp/ipykernel_2124/1241476075.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  corr = pd.concat([corr, storage_df])

     MONTH TRIAL_STORE CONTROL_STORE  CORRELATION_SCORE
0   201807          77             1               -1.0
1   201808          77             1               -1.0
2   201809          77             1               -1.0
3   201810          77             1               -1.0
4   201811          77             1               -1.0
..     ...         ...           ...                ...
2   201809          77           272                1.0
3   201810          77           272                1.0
4   201811          77           272                1.0
5   201812          77           272                1.0
6   201901          77           272                1.0

[1799 rows x 4 columns]

In [298]:
corr_nCustomers.dtypes

MONTH                 object
TRIAL_STORE           object
CONTROL_STORE         object
CORRELATION_SCORE    float64
dtype: object

- And now the magnitude for these same options

In [306]:
magnitude_nSales = minMaxDist(calculateMagnitudeDistance('totSales', 77))
magnitude_nSales

/tmp/ipykernel_2124/814162761.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  calcDistTable = pd.concat([calcDistTable, calculatedMeasure])

       MONTH TRIAL_STORE CONTROL_STORE  mag_measure
0     201807          77             1     0.965808
257   201808          77             1     0.965808
514   201809          77             1     0.965808
771   201810          77             1     0.965808
1028  201811          77             1     0.965808
...      ...         ...           ...          ...
770   201809          77           272     0.891352
1027  201810          77           272     0.891352
1284  201811          77           272     0.891352
1541  201812          77           272     0.891352
1798  201901          77           272     0.891352

[1799 rows x 4 columns]

In [300]:
magnitude_nCustomers = minMaxDist(calculateMagnitudeDistance('nCustomers', 77))
magnitude_nCustomers

/tmp/ipykernel_2124/814162761.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  calcDistTable = pd.concat([calcDistTable, calculatedMeasure])

       MONTH TRIAL_STORE CONTROL_STORE  mag_measure
0     201807          77             1     0.945988
1     201807          77             2     0.929012
2     201807          77             3     0.320988
3     201807          77             4     0.158951
4     201807          77             5     0.464506
...      ...         ...           ...          ...
1794  201901          77           268     0.944444
1795  201901          77           269     0.317901
1796  201901          77           270     0.336420
1797  201901          77           271     0.462963
1798  201901          77           272     0.953704

[1799 rows x 4 columns]

In [301]:
magnitude_nCustomers.dtypes

MONTH             object
TRIAL_STORE       object
CONTROL_STORE     object
mag_measure      float64
dtype: object

- We shall now create a function to merge the magnitude and correlation tables

In [309]:
def merge_calcs(metricCol, storeComparison):
    corr = calculateCorrelation(metricCol, storeComparison)
    magnitude = minMaxDist(calculateMagnitudeDistance(metricCol, storeComparison))
    combine = pd.merge(corr, magnitude, on=['MONTH', 'TRIAL_STORE', 'CONTROL_STORE'])
    combine['Merged_Score'] = 0.5 * combine['CORRELATION_SCORE'] + 0.5 * combine['mag_measure']
    return combine

- Now test the function by merging sales and customer scores

In [310]:
scoreControl = merge_calcs(['totSales'], 77)
scoreControl

/tmp/ipykernel_2124/1241476075.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  corr = pd.concat([corr, storage_df])

,MONTH,TRIAL_STORE,CONTROL_STORE,CORRELATION_SCORE,mag_measure,Merged_Score
0,201807,77,1,-1.0,NaN,NaN
1,201808,77,1,-1.0,NaN,NaN
2,201809,77,1,-1.0,NaN,NaN
3,201810,77,1,-1.0,NaN,NaN
4,201811,77,1,-1.0,NaN,NaN
...,...,...,...,...,...,...
1794,201809,77,272,1.0,NaN,NaN
1795,201810,77,272,1.0,NaN,NaN
1796,201811,77,272,1.0,NaN,NaN
1797,201812,77,272,1.0,NaN,NaN
1798,201901,77,272,1.0,NaN,NaN

In [308]:
scoreControl.dtypes

MONTH                 object
TRIAL_STORE           object
CONTROL_STORE         object
CORRELATION_SCORE    float64
mag_measure           object
Merged_Score          object
dtype: object